h1 {
  font-family: "Satisfy", cursive;
  font-size: 4em;
  margin: 10px auto;
  text-align: center;
}

h2 {
  font-family: "Life Savers", cursive;
  font-size: 1.1em;
  text-align: center;
  margin: auto auto 20px auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-content: space-between;
  font-family: "Life Savers", cursive;
  font-size: 1em;
}

select {
  font-family: "Life Savers", cursive;
  font-size: 0.7em;
  margin: 1%;
}

.displayImg {
  border: #c3a343 dotted 2px;
  border-width: 10px;
  margin: auto 100px;
  width: 500px;
  height: 400px;
  font-family: "Satisfy", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 5px;
  background: #19193b;
  max-width: 330px;
  min-width: 330px;
}

img {
  display: flex;
  max-width: 80%;
  min-height: 120px;
  max-height: 300px;
}

button {
  font-family: "Satisfy", cursive;
  margin: 30px auto;
  height: 5em;
  width: 18em;
  font-size: 1em;
  color: #c3a343;
  background: #19193b;
}

.gold-text {
  color: #c3a343;
  font-family: "Satisfy", cursive;
  font-weight: bolder;
}

p {
  font-size: 1.6em;
  margin: 20px;
  color: #c3a343;
}
a {
  color: #c3a343;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    margin: 20px auto;
    text-align: center;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-content: space-between;
    font-family: "Life Savers", cursive;
    font-size: 1.5em;
  }

  select {
    font-family: "Life Savers", cursive;
    font-size: 0.7em;
    margin: 1%;
  }

  .displayImg {
    border: #c3a343 dotted 2px;
    border-width: 10px;

    width: 500px;
    height: 400px;
    font-family: "Satisfy", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    padding: 5px;
    background: #19193b;
    max-width: 500px;
    min-width: 200px;
  }

  img {
    display: flex;
    max-width: 80%;
    min-height: 120px;
    max-height: 280px;
  }

  button {
    font-family: "Life Savers", cursive;
    margin: 30px auto;
    height: 5em;
    width: 18em;
    font-size: 1em;
    color: #c3a343;
    background: #19193b;
  }

  .gold-text {
    color: #c3a343;
    font-family: "Satisfy", cursive;
    font-weight: bolder;
  }
  h2 {
    font-family: "Life Savers", cursive;
    font-size: 1.1em;
    text-align: center;
    margin: 0;
  }
  p {
    font-size: 1.6em;
    margin: 20px;
    color: #c3a343;
  }

  a {
    color: #c3a343;
    margin: 10px auto;
  }
}
